.mail{
  width: 100%;
  margin-top: 50px;
  background-color: #fbfdff;
  color: rgb(15, 15, 15);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 50px;
}

.mailInputContainer>input{
  width: 300px;
  height: 30px;
  padding: 10px;
  border: rgb(15, 15, 15);
  margin-right: 10px;
  border-radius: 5px;
}

.mailInputContainer>button{
  height: 50px;
  background-color: #000b12;
  color: rgb(237, 227, 227);
  font-weight: 500;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}